@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Book

}
<!--
    I changed the background color of the cards
-->
<div class="card card-outline-primary m-1 p-1 bg-info">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>Price: @Model.Price.ToString("c")</small>
            </span>
        </h4>
        <ul>
            <li>Author: @Model.Author</li>
            <li>Publisher: @Model.Publisher</li>
            <li>Classification/Category: @Model.Category</li>
            <li>Number of Pages: @Model.PageCount pages </li>
        </ul>
    </div>
    <div class="card-text p-1">ISBN: @Model.Isbn</div>

    <form method="post" asp-page="/AddToCart">

        <input type="hidden" asp-for="@Model.BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-right">Add to Cart</button>
        </span>
    </form>
</div>

